ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
h1 {
    margin: 0 0 0 0;
    margin-top: 10px;
    color: #3f3f3f;
    font-weight: 300;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em
}
h2 {
    margin: 0 0 10px 0;
    color: #6D6C6C;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7)
}
h3 {
    margin: 0 0 15px 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #71726e
}
h5 {
    margin: 0 0 0 0;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    color: #fff;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}
p, .row li {
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.05em;
}
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3;
    letter-spacing: 0.11em;
}
.subheading {
    margin-top: 0;
    color: #888;
    line-height: 1.4em;
}
html {
    overflow-x: hidden
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
a {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    color: #5B595C;
}
a:hover {
    text-decoration: none;
}
.form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-weight: 500;
}
.form-control:-ms-input-placeholder {
  color: #000;
  font-weight: 500;
}
.form-control::-webkit-input-placeholder {
  color: #000;
  font-weight: 500;
}
.bg-cover {
    padding: 20px 0 30px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/general-cover.jpg);
    min-height: 100px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active{
    background-color: #35F284;
    border-color: #2BB665;
}
.form-horizontal .control-label{
    font-family: 'Dosis', sans-serif;    
    font-weight: 500;
    text-align: left;
    font-size: 1.1em;
    color: #000;
}
.form-horizontal .checkbox-custom{
    display: block;
    color: #000;
    font-family: 'Dosis', sans-serif;    
    font-weight: 500;
    font-size: 1.1em;
}
a.term-clause{
    color: #2ECB70;
}
body {
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
    background-color: #F1F1F1;
}
.col-heading {
    color: #000;
    position: relative;
    display: block;
    text-transform: uppercase;
}
.col-heading h1 {
    text-transform: uppercase;
    display: block;
    font-size: 2em;
}
/* all */
*::-webkit-input-placeholder {
    color: #000;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #000;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #000;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

/*Your Theme Style*/

.content-wrapper {
    overflow: hidden;
    position: relative;
}
#main-content {
    margin-top: 50px;
}
.packages {
    margin-top: 20px;
}
.package-post-detail {
    background-color: #FFF;
    padding: 20px 20px 40px;
    color: #000;
    position: relative;
}
.package-post-detail:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 33px 15px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -33px;
    left: 42.5%;
    right: 42.5%;
}
.package-post-detail h2 {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 0.09em;
}
.package-post-detail p {
    color: #000;
    font-family: "Dosis", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.09em;
}
.package-post-detail .read-more {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.11em;
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.package-post-detail .read-more a {
    color: #2ECD71;
}
.all-post {
    margin-top: 20px;
}
/*Header*/

.book-now {
    position: relative;
    display: block;
    background: #E9E7E8;
    color: #747474;
    margin: 0;
    padding: 15px;
}
.book-now .dropdown-menu {
    left: 117%;
    top: -20px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #FFFFFF;
    width: 400px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.176)
}
.dropdown-menu .form-reservation{
    margin-top: 40px;
}
.dropdown-menu .form-reservation .btn{
    display: block;
    font-size: 1.1em;
    font-family: 'Dosis', sans-serif;
}
.form-reservation{
    display: block;
    position: relative;
}
.book-now:before, .book-now:after {
    background: none repeat scroll 0 0 #E9E7E8;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 9999px;
}
.book-now:before {
    right: 100%;
}
.book-now:after {
    left: 100%;
}
.book-now:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 25px solid rgba(0, 0, 0, 0);
    border-left: 25px solid #E9E7E8;
    border-top: 25px solid rgba(0, 0, 0, 0);
    content: " ";
    display: block;
    height: 0;
    left: 100%;
    margin-top: 0;
    position: absolute;
    width: 0;
    z-index: 1000;
}
.book-now a {
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #838383;
    letter-spacing: 0.11em;
}
ul.social-icon > li > a {
    color: #E9E7E8 !important;
}
ul.social-icon > li > a:hover {
    color: #000 !important;
}
/*Header Logo*/

li.logo-header a.navbar-brand .logo-wrapper {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
/*Navbar*/

.content-wrapper .navbar-default {
    background: #fff;
    border: none;
}
.navbar-nav > li {
    display: inline-block;
}
.navbar-nav > li > a {
    font-size: 1.2em;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 500;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
}
.navbar-nav > li > a:hover {
    color: #2DCC70 !important;
}
.navbar-nav > li.logo-header {
    position: relative;
    display: block;
    margin: 0 right-floated-width 0 left-floated-width;
}
.navbar-nav > li.logo-header a.navbar-brand {
    padding: 10px 0;
    margin: 0;
}
.content-wrapper .navbar-default .navbar-nav > .active > a, .content-wrapper .navbar-default .navbar-nav > .active > a:hover, .content-wrapper .navbar-default .navbar-nav > .active > a:focus {
    background: url('../img/bg-menu-hover.gif') repeat-x bottom center transparent;
    color: #000;
}
.content-wrapper .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-right: 3px;
}
.content-wrapper .navbar .navbar-collapse {
    text-align: right;
}
/*Content*/

#slider-homepage {
    position: relative;
    display: block;
}
.carousel-control {
    z-index: 10;
}
#slider-homepage .carousel-caption {
    background: #FFF;
    text-shadow: none;
    bottom: 40px;
    text-align: left;
    padding: 0 50px;
}
#slider-homepage .carousel-caption:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 33px 15px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -33px;
    left: 20px;
}
#slider-homepage .carousel-caption h1 {
    margin: 20px 0 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}
#slider-homepage .carousel-caption p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
}
/*Navigation Trough*/

#navtrough {
    position: absolute;
    display: block;
    top: 60px;
    bottom: auto;
    right: 0;
    left: 0;
}
.menu-rhomb-holder {
    margin: 150px 0;
    z-index: 20;
}
.menu-rhomb-holder .first-level, .menu-rhomb-holder .second-level, .menu-rhomb-holder .third-leve {
    display: block;
}
.rhomb {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    margin: -8px 14px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 1px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 1px;
    border-radius: 5px;
    border-top-left-radius: 1px;
}
.rhomb:hover {
    background: rgba(86, 214, 140, 1);
}
.rhomb_info {
    height: 50px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    width: 80px;
    display: table-cell;
    font-family: 'Comfortaa', sans-serif;
}
.in-menu {
    display: block;
    position: relative;
    background: url('../img/menu-center-list.png') no-repeat center top;
    width: 70px;
    height: 70px;
}
/*List Rooms*/
.room-block{
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.room-block .block-wrapper{
    position: relative;
    display: block;
    border-bottom: thin solid #7E7E7E;
    float: left;
    margin-right: 50px;
}
.room-block .price{
    display: block;
    position: relative;
    padding: 0;
}
.room-block .price .text-price, .col-price h5{
    display: block;
    position: relative;
    margin-bottom: 20px;
    font-family: 'VerdanaRegular', sans-serif;
    font-size: 1.2em;
    color: #60D390 !important;
}
.room-block .price .text-price, .room-block .price .txt-p{
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
}
.right-content{
    position: relative;
}
.room-block .right-content h2{
    font-size: 2em;
    color: #000;
    font-weight: 500;
}
.room-block .right-content p{
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.right-content .more-info{
    font-size: 1.2em;
    margin-top: 10px;
}
.right-content .more-info a.btn{
    color: #fff;
    font-size: 1.1em;
}

.rooms-top{
    display: block;
    position: relative;
    color: #FFF;
}
.rooms-top h1{
    font-size: 2.9em;
    color: #FFF;
    margin-bottom: 20px;
}
.rooms-top h2{
    color: #FFF;
    text-shadow: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p{
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p span.date{
    font-weight: 700;
}
.rooms-top p a{
    text-decoration: underline;
    color: #FFF;
}
.rooms-top p a:hover{
    color: #000;
}

/*Nano Scroller*/
.detail-view{
    height: 350px;
    width: 100%;
    margin: 50px 0;
}
#slidervertical_container .thumbpost{
    top: 0 !important;
}
.list-rooms.nano{
    width: 100%;
    height: 350px;
    overflow: hidden !important;
    margin: 50px 0;
}
.nano > .nano-pane{
    right: 10px;
    width: 15px;
}

.nano > .nano-pane > .nano-slider{
    
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgb(255,255,255) 0%, rgb(243,243,243) 50%, rgb(237,237,237) 51%, rgb(255,255,255) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(243,243,243)), color-stop(51%,rgb(237,237,237)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* IE10+ */
background: linear-gradient(to right,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
}
.menu-rooms {
    background-position: -3px 3px;
}
.menu-gallery {
    background-position: -3px -57px;
}
.menu-weddings {
    background-position: -8px -118px;
}
.menu-promo {
    background: none;
    font-size: 1.4em;
    vertical-align: middle;
    width: 80px;
    height: 50px;
    display: table-cell;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
}

.content-overview{
    position: relative;
    display: block;
    float: left;
    margin: 20px 0  50px;
    color: #000;
}
.content-overview h2, .content-overview h1{
    font-size: 2.1em;
    color: #000;
    font-weight: 500;
}
.content-overview p{
    font-weight: 500;
    font-size: 1.2em;
    color: #000;
}
/*List Features*/
ul.list-features{
    padding-left: 0;
}

ul.list-features li:before{
    content : "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  color: #2BB665;
}
ul.list-features li{
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}
/*Carousel*/

.carousel-nav .carousel-next {
    position: absolute;
    z-index: 200;
    right: 10px;
    top: -40px;
    background-color: #29B666;
    text-align: center;
    color: #FFF;
    vertical-align: middle;
    padding: 0 7px;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.carousel-nav .carousel-prev {
    padding: 0 7px;
    position: absolute;
    z-index: 200;
    right: 35px;
    top: -40px;
    background-color: #29B666;
    text-align: center;
    color: #FFF;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.wrap-single-carousel .carousel-nav .carousel-prev {
    top: auto;
    bottom: -15px;
    right: 52.5%;
}
.wrap-single-carousel .carousel-nav .carousel-next {
    top: auto;
    bottom: -15px;
    right: 49.5%;
}
/*List Quotes*/

.list-quote {
    /*position: relative;*/
    
    display: block;
}
.list-quote:before {
    position: absolute;
    display: block;
    left: 0;
    top: -40px;
    content: '\201C';
    font-size: 120px;
    font-family: sans-serif;
    color: #000;
}
.list-quote:after {
    position: absolute;
    display: block;
    right: 0;
    bottom: -40px;
    content: '\201D';
    font-size: 120px;
    font-family: sans-serif;
    color: #000;
}
.list-quote .thumber {
    position: relative;
    display: block;
    text-align: center;
}
.list-quote .thumber .rhomb-img {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .thumber .rhomb-img img {
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    margin-left: -43px;
    margin-top: -16px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .post-review {
    position: relative;
    display: block;
}
.list-quote .post-review p {
    color: #000;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    font-weight: 500;
}
.list-quote .post-review h2 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
.list-quote .post-review h3 {
    color: #000;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/*Contact*/

.form-horizontal .form-group {
    margin: 5px 0;
}
.form-control {
    border-color: #000;
    border-radius: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    color: #000;
}
.form-control:focus {
    border-color: #000;
}
/*Tables*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    border-bottom: 1px solid #C3C3C3;
}
table.table tr td {
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}
table.rt-responsive-table th {
    background: none;
    color: #000;
}
table.rt-responsive-table tr {
    background: none !important;
}
table.rt-responsive-table td, table.rt-responsive-table th {
    border-color: transparent;
}
/*Maps*/

.maps-content {
    min-height: 300px;
    background: #E5E3DF;
}
.additional {
    color: #000;
    position: relative;
    display: block;
}
.additional h2 {
    color: #000;
    font-weight: 500;
}

.additional p {
    color: #000;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 1.2em;
}
.text-gallery {
    position: relative;
    display: inline;
}
.text-gallery p {
    letter-spacing: 0.05em;
    font-size: 1.1em;
}
.block-tiles{
    position: relative;
    display: block;
}
.tile{
    margin-bottom: 10px;
}
.tile a{
    border: solid thick #000;
    display: block;
    position: relative;
    border-color: transparent;
}
.caption-grn {
    background: none repeat scroll 0 0 #2bb665;
    color: #fff;
    left: 98%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
}
.block-tiles .tile:nth-child(odd) .caption-grn{
    left: 98%;
    right: auto;
}
.block-tiles .tile:nth-child(even) .caption-grn{
    left: auto;
    right: 98% !important;
}
.caption-wrapper{
    display: block;
    position: relative;
}
.caption-wrapper:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #2BB665 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #2BB665 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display: block;
    top: 0;
    left: -25px;
    content: "";
}
.block-tiles .tile:nth-child(even) .caption-grn .caption-wrapper:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #2BB665;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #2BB665;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display: block;
    top: 0;
    left: auto;
    right: -25px;
    content: "";
}
.block-tiles .tile:nth-child(odd) .caption-grn .caption-wrapper:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #2BB665 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #2BB665 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display: block;
    top: 0;
    left: -25px;
    content: "";
}
.caption-grn h3 {
    color: #FFF;
    font-weight: 500;
    font-size: 2em;
}
.caption-grn p {
    color: #FFF;
    font-weight: 500;
    font-size: 1.2em;
}
/*Footer*/

#footer {
    position: absolute;
    display: block;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    background: rgba(193, 193, 193, 0.2);
}
footer .footer-content {
    font-size: .9em;
    color: #000;
    width: 100%;
}
footer .footer-content p.copyright {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 5px;
}
/*Group Icon*/
.input-group-addon{
    background: #EDEDED;
    border-color: #000;
    border-radius: 0; 
}
.input-group-addon i.fa{
    color: #000;
}
.tri-top-bottom{
    position: relative;
}
.tri-top-bottom:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #EDEDED transparent transparent;
    line-height: 0px;
    _border-color: #000000 #EDEDED #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.tri-top-bottom:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #EDEDED transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #EDEDED #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}
/*select style*/

.select2-drop-active {
    border: 1px solid #000;
    border-top: none;
}
.select2-results .select2-highlighted {
    background: #383838;
    color: #fff;
}
.select-custom {
    position: relative;
    display: block;
    width: 100%;
}
.select2-container {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.select2-container .select2-choice {
    border-radius: 0;
    border-color: #000;
    background-image: none;
    height: 34px;
    line-height: 34px;
    text-align: left;
}
.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
    background: #EDEDED;
    border: none;
    width: 34px;
}
.select2-container .select2-choice .select2-arrow:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #EDEDED transparent transparent;
    line-height: 0px;
    _border-color: #000000 #EDEDED #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.select2-container .select2-choice .select2-arrow:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #EDEDED transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #EDEDED #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}
.select2-container .select2-choice .select2-arrow b {
    position: relative;
    display: block;
    background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    line-height: 0px;
    _border-color: #000000 #ffffff #ffffff #ffffff;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#ffffff');
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
}
/*UI WIDGET*/
.ui-widget{
    font-family: 'Dosis', sans-serif !important;
    font-size: 1.1em;
}
.ui-widget tr:nth-child(even) {background: #2BB665}
.ui-widget tr:nth-child(odd) {background: #FFF}

.ui-widget-content tr:nth-child(even) a{
    color: #000;
    border: none !important;
}
.ui-widget-content tr:nth-child(odd) a{
    color: #000;
}
/* Datepicker */
#ui-datepicker-div {
    padding: 20px !important;
    z-index: 1100 !important;
}
#ui-datepicker-div .ui-datepicker-month,
#ui-datepicker-div .ui-datepicker-year {
    color: #5e5e5e;
    font-family: 'Comfortaa', sans-serif !important;
    text-transform: uppercase;
}
.ui-datepicker th{
    font-weight: normal;
}
#ui-datepicker-div table.ui-datepicker-calendar thead tr th span{
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.ui-datepicker-header {
    -webkit-border-radius: 0 0 0 0 !important;
    border-radius: 0 0 0 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 1px solid #2BB665;
    text-align: center;
}
.ui-state-default:nth-child(odd), .ui-widget-content .ui-state-default:nth-child(odd), .ui-widget-header .ui-state-default:nth-child(odd) {
    border: 1px solid #fff;
}
.ui-state-default:nth-child(even), .ui-widget-content .ui-state-default:nth-child(even), .ui-widget-header .ui-state-default:nth-child(even) {
    border: 1px solid #fff;
}
.ui-datepicker table {
    margin: 0 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: none 
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid;
}
.mto_ft{
    margin-bottom: 50px;
}
/*--------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------*/
/* Larger Screens Devices
-------------------------------------------------- */
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {} @media (min-width: 980px) {} @media (min-width: 768px) {}
/* Medium Devices
-------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {} @media (max-width: 979px) {}
/* Small Devices (tablets)
-------------------------------------------------- */
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    /*slider*/
    
    .flexslider .caption h1 {
        font-size: 2em;
    }
    /*Form Horizontal*/
    
    .form-horizontal .form-group {
        margin-bottom: 10px;
    }
}
/* Extra small devices(phones)
-------------------------------------------------- */

@media (max-width: 767px) {} @media (max-width: 640px) {} @media (max-width: 480px) and (orientation: landscape) {} @media only screen and (min-width: 360px) and (max-width: 640px) {}
/* Landscape phones and smaller */

@media (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/* fix for small android devices */

@media (max-width: 240px) {}
/* Smallest browser width fix
-------------------------------------------------- */

@media (min-width: 0px) and (max-width: 351px) {}@media (min-width: 0px) and (max-width: 300px) {
    body {
        min-width: 280px;
    }
}
/* High Resolution Devices 
-------------------------------------------------- */

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Logo */
}
.btn-grn {
    background: #2BB665;
    color: #fff;
    font-family:'Dosis', sans-serif;
    border: none;
    padding: 6px 25px;
}
.bg-grn {
    background: #2BB665;
    color: #fff;
    font-family:'Dosis', sans-serif;
    border: none;
}
/*>  HELPER  <*/

.m_t_0 {
    margin-top:0
}
.m_r_0 {
    margin-right:0
}
.m_b_0 {
    margin-bottom:0
}
.m_l_0 {
    margin-left:0
}
.m_t_5 {
    margin-top:5px
}
.m_r_5 {
    margin-right:5px
}
.m_b_5 {
    margin-bottom:5px
}
.m_l_5 {
    margin-left: 5px
}
.m_t_10 {
    margin-top: 10px
}
.m_r_10 {
    margin-right: 10px
}
.m_b_10 {
    margin-bottom: 10px
}
.m_l_10 {
    margin-left: 10px
}
.m_t_15 {
    margin-top: 15px
}
.m_r_15 {
    margin-right: 15px
}
.m_b_15 {
    margin-bottom: 15px
}
.m_l_15 {
    margin-left: 15px
}
.m_t_20 {
    margin-top: 20px
}
.m_r_20 {
    margin-right: 20px
}
.m_b_20 {
    margin-bottom: 20px
}
.m_l_20 {
    margin-left: 20px
}
.p_t_5 {
    padding-top: 5px
}
.p_r_5 {
    padding-right: 5px
}
.p_b_5 {
    padding-bottom: 5px
}
.p_l_5 {
    padding-left: 5px
}
.p_t_10 {
    padding-top: 10px
}
.p_r_10 {
    padding-right: 10px
}
.p_b_10 {
    padding-bottom: 10px
}
.p_l_10 {
    padding-left: 10px
}
.p_t_15 {
    padding-top: 15px
}
.p_r_15 {
    padding-right: 15px
}
.p_b_15 {
    padding-bottom: 15px
}
.p_l_15 {
    padding-left: 15px
}
.p_t_20 {
    padding-top: 20px
}
.p_r_20 {
    padding-right: 20px
}
.p_b_20 {
    padding-bottom: 20px
}
.p_l_20 {
    padding-left: 20px
}
.p_rl_5 {
    padding-right: 5px;
    padding-left: 5px
}
.p_rl_10 {
    padding-right: 10px;
    padding-left: 10px
}
.p_rl_15 {
    padding-right: 15px;
    padding-left: 15px
}
.p_rl_20 {
    padding-right: 20px;
    padding-left: 20px
}
.m_rl_-5 {
    margin-right: -5px;
    margin-left: -5px
}
.m_rl_5 {
    margin-right: 5px;
    margin-left: 5px
}
.m_rl_10 {
    margin-right: 10px;
    margin-left: 10px
}
.m_rl_15 {
    margin-right: 15px;
    margin-left: 15px
}
.m_rl_20 {
    margin-right: 20px;
    margin-left: 20px
}
.p_tb_5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.p_tb_10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.p_tb_15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.p_tb_20 {
    padding-top: 20px;
    padding-bottom: 20px
}
.m_tb_5 {
    margin-top: 5px;
    margin-bottom: 5px
}
.m_tb_10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.m_tb_15 {
    margin-top: 15px;
    margin-bottom: 15px
}
.m_tb_20 {
    margin-top: 20px;
    margin-bottom: 20px
}
.p_0 {
    padding: 0
}
.p_5 {
    padding: 5px
}
.p_10 {
    padding: 10px
}
.p_15 {
    padding: 15px
}
.p_20 {
    padding: 20px
}
.p_25 {
    padding: 25px
}
.p_30 {
    padding: 30px
}
